package <package>;
<import>
import java.io.Serializable;
/**
*Code generate for charmarin by softcaribbean
*/
public class <name> implements Serializable {
    <atribute>
    <body-set>
    <body-get>
}